{% extends "base.html" %}

{% block title %}
My Buzz!
{% endblock %}


{% block content %}
{% if buzz_auth %}
    <h1>My Buzz</h1>
    <h2>Latest Tweets</h2>
    <div id="mybuzz_timeline">
        
    </div>
{% else %}
    <h2>You need to sign in!</h2>
    <p><a href="/login/">Click here to sign here</a></p>
{% endif %}
{% endblock %}

{% block script %}
    {% if buzz_auth %}
    // Get user timeline
    $.getJSON('{% url mybuzz_timeline %}', function(data) {
        for(tweet in data) {
            $('#mybuzz_timeline').append('<div class="tweet_result"><div class="tweet">' + data[tweet].text +
            '</div>' +
            '<div class="tweet_info">' + 
            '<div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>' +
            '<div class="fleft padbottom">' + data[tweet].user.screen_name + '</div>' + 
            '<div class="clear"></div>'  + 
            '</div></div>');
        }
    });
    {% endif %}
{% endblock %}