<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>buzzfire - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/buzzfire_theme.css" type="text/css">
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/modernizr-1.5.min.js"></script>
	{% block extra_script %}{% endblock %}
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7105486-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>
    </head>
    <body>
        <div class="container">
            <div id="inner_container" class="span-22 last">
                <div id="navigation" class="span-22 last">
                    <div id="faq_btn" class="rightie">
                        <a href="/faq/" class="tooltip" title="All you need to know about BuzzFire!">FAQ</a>
                    </div>
                    {% if buzz_auth %}
                    <div id="mybuzz_btn" class="rightie">
                        <a href="/mybuzz/" class="tooltip" title="Go to your bookmarks and stuff!">My Buzz</a>
                    </div>
                    <div id="signout_btn" class="rightie">
                        <a href="/logout/" class="tooltip" title="Logout from BuzzFire.">Sign Out</a>
                    </div>
                    {% else %}
                    <div id="signin_btn" class="rightie">
                        <a href="/login/" class="tooltip" title="You'll be redirected to Twitter to login.">Sign In</a>
                    </div>
                    {% endif %}
                </div>
                <div id="buzzbirdie">
                    <a class="tooltip" title="churpideedooponydwadash!"><img src="{{ MEDIA_URL }}images/buzzbirdie.png"></a>
                </div>
                <div id="buzzfire">
                    <a href="/" class="tooltip" title="Back to homepage?"><img src="{{ MEDIA_URL }}images/buzzfire.png"></a>
                </div>
                <div id="infobox">
                    <strong>buzzfire</strong> is a simple app that allows you to search, bookmark and rank your favorite tweets, people and locations on Twitter!
                </div>
				<div id="ponybox">
					<a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
				</div>
                <div id="framebox" class="span-22 last">
                    <div id="contentbox" class="span-16 last">
                    {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="span-22 last">
                    <div id="footer">
                        All rights reserved 2010. Buzzfire is brought to you by Team Blue Tomatoes! <a class="tooltip" title="kenny [at] northpole [dot] sg"><img src="{{ MEDIA_URL }}images/email_icon.gif"></a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
            	// search button hover
            	$('#searchbutton').hover(function() {
            		$('#searchbutton img').attr('src', '{{ MEDIA_URL }}images/search_btn_on.gif');
            	}, function() {
            		$('#searchbutton img').attr('src', '{{ MEDIA_URL }}images/search_btn.gif');
            	});
            	
            	var tooltip = function(){	
                	/* CONFIG */		
                		xOffset = 10;
                		yOffset = 20;		
                		// these 2 variable determine popup's distance from the cursor
                		// you might want to adjust to get the right result		
                	/* END CONFIG */		
                	$("a.tooltip").hover(function(e){											  
                		this.t = this.title;
                		this.title = "";									  
                		$("body").append("<p id='tooltip'>"+ this.t +"</p>");
                		$("#tooltip")
                			.css("top",(e.pageY - xOffset) + "px")
                			.css("left",(e.pageX + yOffset) + "px")
                			.fadeIn("fast");		
                    },
                	function(){
                		this.title = this.t;		
                		$("#tooltip").remove();
                    });	
                	$("a.tooltip").mousemove(function(e){
                		$("#tooltip")
                			.css("top",(e.pageY - xOffset) + "px")
                			.css("left",(e.pageX + yOffset) + "px");
                	});			
                };
            	
            	// tooltip init
            	tooltip();
            	
            	{% block script %}
            	
            	{% endblock %}
            });
        </script>
    </body>
</html>
