<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>buzzfire - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    </head>
    <body>
        <div class="container">
        	{% block content %}{% endblock %}
        </div>
    </body>
</html>