body {
    background-color: #ff9111;
    font-size: 16px;
}

h1 {
    color: #ff3f08;
    font-size: 2.2em;
}

h2 {
    color: #F53;
    font-size: 1.4em;
}

a:link {
    color: #ff3f08;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: #ff3f08;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
a:active {
    color: #ff3f08;
    text-decoration: none;
    font-weight: bold;
}

div#inner_container {
    position:relative;
    margin-top: 100px;
}

#navigation a:link {
    color: #FFF;
    text-decoration:none;
}

#navigation a:visited {
    color: #FFF;
    text-decoration:none;
}

#navigation a:hover {
    color: #FCC;
    text-decoration:none;
}

#navigation a:active {
    color: #FCC;
    text-decoration:none;
}

div#faq_btn {
    width: 75px;
    height: 34px;
    background-image: url('../images/faq_bg.gif');
    background-repeat: no-repeat;
    color: #fff;
    padding: 5px 0px 5px 10px;
    font-size: 0.9em;
}

div#signin_btn {
    width: 88px;
    height: 34px;
    background-image: url('../images/signin_bg.gif');
    background-repeat: no-repeat;
    color: #fff;
    padding: 5px 0px 5px 10px;
    font-size: 0.9em;
}

div#signout_btn {
    width: 99px;
    height: 34px;
    background-image: url('../images/signout_bg.gif');
    background-repeat: no-repeat;
    color: #fff;
    padding: 5px 0px 5px 10px;
    font-size: 0.9em;
}

div#mybuzz_btn {
    width: 104px;
    height: 34px;
    background-image: url('../images/mybuzz_bg.gif');
    background-repeat: no-repeat;
    color: #fff;
    padding: 5px 0px 5px 10px;
    font-size: 0.9em;
}

.rightie {
    float: right;
}

div#buzzbirdie {
    position: absolute;
    left:-50px;
    top:35px;
}

div#buzzfire {
    position: absolute;
    left:40px;
    top:-80px;
}

div#framebox {
    background-color: #fff;
    margin-top: 50px;
}

.borderradius div#framebox {
    background-color: #fff;
    margin-top: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#contentbox {
    margin-left: 200px;
    margin-top: 50px;
}

div#infobox {
    background-color: #333;
    color: #fff;
    width: 175px;
    height: 160px;
    padding: 10px;
    position: absolute;
    left: -40px;
    top: 240px;
}

.borderradius div#infobox {
    background-color: #333;
    color: #fff;
    width: 175px;
    height: 160px;
    padding: 15px;
    position: absolute;
    left: -40px;
    top: 230px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#footer {
    margin-top: 10px;
    background-color: #db5114;
    text-align: center;
    padding:5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
}

.borderradius div#footer {
    margin-top: 10px;
    background-color: #db5114;
    text-align: center;
    padding:5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search {
    width: 390px;
    height: 60px;
    border: 1px solid #BBB;
    font-size: 1.5em;
    text-align: center;
}

#searchbutton_box {
    margin-top: 15px;
    margin-left: 5px;
}

.dim {
    color: #999;
}

/* top tweets */
.tweet {
    margin-bottom: 10px;
}

.tweet_result {
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.fleft {
    float: left;
    padding-right: 5px;
    font-size: 0.9em;
    color: #666;
}

.padbottom {
    margin-top: -3px;
}

.padright {
    margin-left: 35px;
}

.red {
    color: #f55;
}

div#more {
    text-align: right;
}

/* tooltip */
#tooltip{
	position:absolute;
	background:#333;
	padding:2px 5px;
	color:#FFF;
	font-size: 0.8em;
	display:none;
}	

.borderradius #tooltip{
	position:absolute;
	background:#333;
	padding:5px 10px;
	color:#FFF;
	font-size: 0.8em;
	display:none;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}