{% extends "base.html" %}

{% block title %}
Error - NOOOOOO!
{% endblock %}

{% block content %}
<h1>The BuzzFire F-A-Q</h1>

<h2>Do I need to register to use BuzzFire?</h2>
<p>No, all you need is a <a href="http://www.twitter.com" target="_blank">Twitter</a> account. Then click Sign In and you'll be logged in via Twitter and ready to use BuzzFire!</p>

<h2>Does that mean you'll be able to know my Twitter account password?!</h2>
<p>No, we won't. What happens when you sign in from BuzzFire is you tell Twitter that you want to allow us to access your Twitter data. Twitter gives us a token to do that, not your password. At anytime, you're free to revoke that token from your Twitter settings.</p>

<h2>What's this site for?</h2>
<p>BuzzFire is a simple app that allows you to bookmark your favorite tweets, and 'like' the tweet. Tweets that get a lot of bookmarks and likes make it to a simple scoreboard on BuzzFire. On top of that, you can post comments on the tweets.</p>

<h2>Why should I use BuzzFire?</h2>
<p>Well, feeds from Twitter can be overwhelming, especially if you're a hot rock star wannabe who follows 1,324,3242 people on Twitter! We help you keep tabs of the tweets that matter to you on your journey to stardom!</p>

<h2>How come the question I want to ask isn't listed here?</h2>
<p>Maybe it's too obscure. You're welcome to email us and we'll be happy to answer you.</p>

<h2>Who are you guys? Why did this come about?</h2>
<p>BuzzFire is a result of Django Dash 2010, a mad 48 hour sprint to make an app in <a href="http://www.djangoproject.com">Django</a>. The two guys who teamed up for this are Choon Kee Oh and Kenny Shen respectively. We're just 2 web development loving guys from Singapore.</p>
{% endblock %}