{% extends "base.html" %}

{% block title %}
bookmark and rank your favorite tweets today!
{% endblock %}


{% block content %}
<p class="dim">Search for a keyword or phrase...</p>
<div id="searchbox">
    <input type="text" id="search" style="float:left">
</div>
<div id="searchbutton_box" style="float:left">
    <a id="searchbutton"><img src="{{ MEDIA_URL }}images/search_btn.gif"></a>
</div>
<div id="search_errormsg" class="clear red" style="display:none;">
    Sorry, you need to sign in before you can search and use BuzzFire.
</div>
<div id="top_tweets_box" class="clear">
    <img src="{{ MEDIA_URL }}images/top_tweets.gif">
    <div id="top_tweets_results">
        {% comment %} top N results will go here {% endcomment %}
        <div class="tweet_result">
            <div class="tweet">
                "Django Dash is now on!"
            </div>
            <div class="tweet_info">
                <div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>
                <div class="fleft padbottom">someone</div>
                <div class="fleft padright"><img src="{{ MEDIA_URL }}images/like_ico.gif"></div>
                <div class="fleft padbottom red">135</div>
                <div class="fleft padright"><img src="{{ MEDIA_URL }}images/comment_ico.gif"></div>
                <div class="fleft padbottom">12 comments</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="tweet_result">
            <div class="tweet">
                "Django Dash is now on!"
            </div>
            <div class="tweet_info">
                <div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>
                <div class="fleft padbottom">someone</div>
                <div class="fleft padright"><img src="{{ MEDIA_URL }}images/like_ico.gif"></div>
                <div class="fleft padbottom red">135</div>
                <div class="fleft padright"><img src="{{ MEDIA_URL }}images/comment_ico.gif"></div>
                <div class="fleft padbottom">12 comments</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="tweet_result">
            <div class="tweet">
                "Django Dash is now on!"
            </div>
            <div class="tweet_info">
                <div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>
                <div class="fleft padbottom">someone</div>
                <div class="fleft padright"><img src="{{ MEDIA_URL }}images/like_ico.gif"></div>
                <div class="fleft padbottom red">135</div>
                <div class="fleft padright"><img src="{{ MEDIA_URL }}images/comment_ico.gif"></div>
                <div class="fleft padbottom">12 comments</div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="more"><a href="#" title="Click to view more popular tweets!" class="tooltip">more</a></div>
    </div>
</div>

{% endblock %}

{% block script %}
    $('#searchbutton').click(function() {
    {% if buzz_auth %}
        var query_string = $('#search').val();
        window.location = "{% url mybuzz_search %}" + "?q=" + query_string;
    {% else %}
        $('#search_errormsg').fadeIn('fast');
    {% endif %}
    });
{% endblock %}