{% extends "base.html" %}

{% block title %}
bookmark and rank your favorite tweets today!
{% endblock %}


{% block content %}
<p class="dim">Search for a keyword or phrase...</p>
<div id="searchbox">
    <input type="text" id="search" style="float:left">
</div>
<div id="searchbutton_box" style="float:left">
    <a id="searchbutton"><img src="{{ MEDIA_URL }}images/search_btn.gif"></a>
</div>
<div id="search_errormsg" class="clear red" style="display:none;margin-top:10px;">
    Sorry, you need to sign in before you can search and use BuzzFire.
</div>
<div id="tweets_nav" class="clear">
	<h2 class="fleft">
		<a id="get_top_tweets" class="tooltip" title="Get the top ranked tweets!"><img src="{{ MEDIA_URL }}images/top_tweets.gif"></a>
	</h2>
	<h2 class="fleft">
		<a id="get_latest_bookmarks" class="tooltip" title="Get the latest bookmarks!"><img src="{{ MEDIA_URL }}images/latest_bookmarks_off.gif"></a>
	</h2>
</div>
<div id="top_tweets_box" class="clear">
    <div id="top_tweets_results">
        <div class="tweet_result"></div>
    </div>
</div>

{% endblock %}

{% block script %}
	{% if buzz_auth %}
	// id and make links
    	function makelinks(tweet) {
        	var shortlinks_re = /https?:\/\/([-\w\.]+)+(:\d+)?(\/([\w/_\.]*(\?\S+)?)?)?/;
        	if (tweet.match(shortlinks_re)) {
            	    var tweetlink = tweet.match(shortlinks_re);
                    var linkcode = '<a href="' + tweetlink[0] + '" target="_blank">' + tweetlink[0] + '</a>';
            	    var linked_tweet  = tweet.replace(shortlinks_re, linkcode);
            	    return linked_tweet
        	}
        	else {
            	    return tweet;
        	}
    	}

	// latest bookmarks
	var getbookmarks_url = '{% url latest_bookmarks %}';
	getbookmarks_url += '?offset=0&length=10';
	
	function getlatestbookmarks() {
		$.getJSON(getbookmarks_url, function(data) {
			for(tweet in data) {
				var form1_id = 'bookmark_form_' + tweet;
				var form2_id = 'like_form_' + tweet;
                var bookmark_id = 'bookmark_' + tweet;
                var that = this;

				var linked_tweet = makelinks(data[tweet].bookmark.tweet_txt);

				// append tweet
				$('#top_tweets_results').append('<div class="tweet_result"><div class="tweet">' + linked_tweet +
                '</div>' +
                '<div class="tweet_info">' + 
                '<div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>' +
                '<div class="fleft padbottom">' + data[tweet].bookmark.tweeter_screenname + '</div>' + 
				'<div class="fleft padright"><a id="like_' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/like_ico.gif"></a></div>' + 
                '<div class="fleft padbottom red">like me!</div>' +
                '<div class="fleft padright"><a id="' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                '<div class="fleft padbottom red">bookmark me!</div>' +
                '<form id="' + form2_id + '"' + ' method="post">' +
                '<input type="hidden" name="bookmark_id" value="' + data[tweet].bookmark.id + '">' +
                '</form>' +
				'<form id="' + form1_id + '"' + ' method="post">' +
                '<input type="hidden" name="tweet_id" value="' + data[tweet].bookmark.tweet_id + '">' +
                '<input type="hidden" name="tweet_txt" value="' + data[tweet].bookmark.tweet_txt + '">' +
                '<input type="hidden" name="tweeter_screenname" value="' + data[tweet].bookmark.tweeter_screenname  + '">' +
                '</form>' +
                '<div class="clear"></div>'  + 
                '</div></div>').fadeIn('slow');

				function add_handler(bookmark_id, form_id) {
                    // add post handler
                    $('#' + bookmark_id).click(function(){
                        $.post('{% url mybuzz_add_bookmark %}', $("#" + form_id).serialize(), function(data) {
                            alert('bookmark saved!');
                        });
                    });

                    // hover 
                    $('#' + bookmark_id).hover(function(){
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_on_ico.png');
                    }, function() {
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_ico.png');
                    });
                }

				function like_handler(bookmark_id, form_id) {
                    // add post handler
					var post_url = '/bookmark/like/';
                    post_url += data[tweet].bookmark.id;
                    $('#like_' + bookmark_id).click(function(){
                        $.post(post_url, $("#" + form_id).serialize(), function(data) {
                            alert('like saved');
                            // remove like link
                        });
                    });
                    
                    // hover 
                    $('#' + bookmark_id).hover(function(){
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/like_on_ico.gif');
                    }, function() {
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/like_ico.gif');
                    });
                }
                
                like_handler(bookmark_id, form2_id);

                add_handler(bookmark_id, form1_id);
	        }
		});
	}
	
	// if clicked
	$('#get_latest_bookmarks').click(function() {
        $('#get_top_tweets img').attr('src','{{ MEDIA_URL }}images/top_tweets_off.png');
		$('#get_latest_bookmarks img').attr('src','{{ MEDIA_URL }}images/latest_bookmarks.gif');
		$('#top_tweets_results').fadeOut('fast').empty();
		getlatestbookmarks();
	});
	
	// top tweets
	var gettoptweets_url = '{% url top_tweets %}';
	gettoptweets_url += '?offset=0&length=10';
	
	
	// if clicked
	$('#get_top_tweets').click(function() {
		$('#get_latest_bookmarks img').attr('src','{{ MEDIA_URL }}images/latest_bookmarks_off.gif');
        $('#get_top_tweets img').attr('src','{{ MEDIA_URL }}images/top_tweets.gif');
		$('#top_tweets_results').fadeOut('fast').empty();
		toptweets();
	});
	
	function toptweets() {
		$.getJSON(gettoptweets_url, function(data) {
			function add_handler(bookmark_id, form_id) {
	            // add post handler
	            $('#' + bookmark_id).click(function(){
	                $.post('{% url mybuzz_add_bookmark %}', $("#" + form_id).serialize(), function(data) {
	                    alert('bookmark saved!');
	                });
	            });

	            // hover 
	            $('#' + bookmark_id).hover(function(){
	                $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_on_ico.png');
	            }, function() {
	                $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_ico.png');
	            });
	        }

			function like_handler(bookmark_id, form_id) {
	            // add post handler
				var post_url = '/bookmark/like/';
                post_url += data[tweet].bookmark.id;
	            $('#like_' + bookmark_id).click(function(){
	                $.post(post_url, $("#" + form_id).serialize(), function(data) {
	                    alert('like saved');
	                    // remove like link
	                });
	            });

	            // hover 
	            $('#' + bookmark_id).hover(function(){
	                $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/like_on_ico.gif');
	            }, function() {
	                $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/like_ico.gif');
	            });
	        }
			
			for(tweet in data) {
				var form1_id = 'bookmark_form_' + tweet;
				var form2_id = 'like_form_' + tweet;
                var bookmark_id = 'bookmark_' + tweet;
                var that = this;

				var linked_tweet = makelinks(data[tweet].bookmark.tweet_txt);
				
				// append tweet
				$('#top_tweets_results').append('<div class="tweet_result"><div class="tweet">' + linked_tweet +
                '</div>' +
                '<div class="tweet_info">' + 
                '<div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>' +
                '<div class="fleft padbottom">' + data[tweet].bookmark.tweeter_screenname + '</div>' + 
				'<div class="fleft padright"><a id="like_' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                '<div class="fleft padbottom red">like me!</div>' +
                '<div class="fleft padright"><a id="' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                '<div class="fleft padbottom red">bookmark me!</div>' +
                '<form id="' + form2_id + '"' + ' method="post">' +
                '<input type="hidden" name="bookmark_id" value="' + data[tweet].bookmark.id + '">' +
                '</form>' +
				'<form id="' + form1_id + '"' + ' method="post">' +
                '<input type="hidden" name="tweet_id" value="' + data[tweet].bookmark.tweet_id + '">' +
                '<input type="hidden" name="tweet_txt" value="' + data[tweet].bookmark.tweet_txt + '">' +
                '<input type="hidden" name="tweeter_screenname" value="' + data[tweet].bookmark.tweeter_screenname  + '">' +
                '</form>' +
                '<div class="clear"></div>'  + 
                '</div></div>').fadeIn('slow');
                
                like_handler(bookmark_id, form2_id);

                add_handler(bookmark_id, form1_id);

			}
		});
	}
	{% else %}
		var simple_msg = "<p class='red'>You\'re currently not signed in. <a href='/login/'>Sign in now</a> to view the latest bookmarks, top tweets and use BuzzFire!</p>";
		$('#top_tweets_results').append(simple_msg);
	{% endif %}
	
	// search 
    $('#searchbutton').click(function() {
    {% if buzz_auth %}
        var query_string = $('#search').val();
        var query_url = "{% url mybuzz_search %}" + "?q=" + query_string;
        
        $('#top_tweets_results').fadeOut('fast').empty();
        $('#top_tweets_results').append('<div id="loader"><img src="{{ MEDIA_URL }}images/loader.gif"></div>').fadeIn('fast');
        
        function search_twitter(query_url) {
            $.getJSON(query_url, function(data) {
                $('#loader').fadeOut('fast');
                for(tweet in data['results']) {
                    var form_id = 'bookmark_form_' + tweet;
                    var bookmark_id = 'bookmark_' + tweet;
                    var that = this;

		    		var linked_tweet = makelinks(data['results'][tweet].text);

                    // append tweet

                    $('#top_tweets_box').append('<div class="tweet_result"><div class="tweet">' + linked_tweet +
                    '</div>' +
                    '<div class="tweet_info">' + 
                    '<div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>' +
                    '<div class="fleft padbottom">' + data['results'][tweet].from_user + '</div>' + 
                    '<div class="fleft padright"><a id="' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                    '<div class="fleft padbottom red">bookmark me!</div>' +
                    '<form id="' + form_id + '"' + ' method="post">' +
                    '<input type="hidden" name="tweet_id" value="' + data['results'][tweet].id + '">' +
                    '<input type="hidden" name="tweet_txt" value="' + data['results'][tweet].text + '">' +
                    '<input type="hidden" name="tweeter_screenname" value="' + data['results'][tweet].from_user  + '">' +
                    '</form>' +
                    '<div class="clear"></div>'  + 
                    '</div></div>').fadeIn('slow');

                    function add_handler(bookmark_id, form_id) {
                        // add post handler
                        $('#' + bookmark_id).click(function(){
                            $.post('{% url mybuzz_add_bookmark %}', $("#" + form_id).serialize(), function(data) {
                                alert('bookmark saved!');
                            });
                        });

                        // hover 
                        $('#' + bookmark_id).hover(function(){
                            $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_on_ico.png');
                        }, function() {
                            $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_ico.png');
                        });
                    }

                    add_handler(bookmark_id, form_id);
                }
            });
        }
        
        search_twitter(query_url);
        
    {% else %}
        $('#search_errormsg').fadeIn('fast');
    {% endif %}
    });

	// auto call top tweets
	{% if buzz_auth %}
		toptweets();
	{% endif %}
	
	
{% endblock %}
