{% extends "base.html" %}

{% block title %}
bookmark and rank your favorite tweets today!
{% endblock %}


{% block content %}
<p class="dim">Search for a keyword or phrase...</p>
<div id="searchbox">
    <input type="text" id="search" style="float:left">
</div>
<div id="searchbutton_box" style="float:left">
    <a id="searchbutton"><img src="{{ MEDIA_URL }}images/search_btn.gif"></a>
</div>
<div id="search_errormsg" class="clear red" style="display:none;">
    Sorry, you need to sign in before you can search and use BuzzFire.
</div>
<div id="tweets_nav" class="clear">
	<h2 class="fleft">
		<a id="get_top_tweets" class="tooltip" title="Get the top ranked tweets!"><img src="{{ MEDIA_URL }}images/top_tweets.gif"></a>
	</h2>
	<h2 class="fleft">
		<a id="get_latest_bookmarks" class="tooltip" title="Get the latest bookmarks!"><img src="{{ MEDIA_URL }}images/latest_bookmarks_off.gif"></a>
	</h2>
</div>
<div id="top_tweets_box" class="clear">
    <div id="top_tweets_results">
        <div class="tweet_result"></div>
    </div>
</div>

{% endblock %}

{% block script %}
	// latest bookmarks
	var getbookmarks_url = '{% url latest_bookmarks %}';
	getbookmarks_url += '?offset=0&length=10';
	$.getJSON(getbookmarks_url, function(data) {
		alert('got latest bookmarks');
		for(tweet in data) {
			var form_id;
            //console.log(data[tweet].bookmark.tweet_txt);
        }
	});
	
	// top tweets
	var gettoptweets_url = '{% url top_tweets %}';
	gettoptweets_url += '?offset=0&length=10';
	
	function toptweets() {
		$.getJSON(gettoptweets_url, function(data) {
			alert('got top tweets');
			for(tweet in data) {
				var form_id = 'bookmark_form_' + tweet;
                var bookmark_id = 'bookmark_' + tweet;
                var that = this;
				
				// append tweet
				$('#top_tweets_results').append('<div class="tweet_result"><div class="tweet">' + data[tweet].bookmark.tweet_txt +
                '</div>' +
                '<div class="tweet_info">' + 
                '<div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>' +
                '<div class="fleft padbottom">' + data['results'][tweet].from_user + '</div>' + 
				'<div class="fleft padright"><a id="like_' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                '<div class="fleft padbottom red">like me!</div>' +
                '<div class="fleft padright"><a id="' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                '<div class="fleft padbottom red">bookmark me!</div>' +
                '<form id="' + form_id + '"' + ' method="post">' +
                '<input type="hidden" name="bookmark_id" value="' + data[tweet].bookmark.id + '">' +
                '</form>' +
                '<div class="clear"></div>'  + 
                '</div></div>').fadeIn('slow');

                function add_handler(bookmark_id, form_id) {
                    // add post handler
                    $('#' + bookmark_id).click(function(){
                        $.post('{% url mybuzz_add_bookmark %}', $("#" + form_id).serialize(), function(data) {
                            alert(data);
                        });
                    });

                    // hover 
                    $('#' + bookmark_id).hover(function(){
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_on_ico.png');
                    }, function() {
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_ico.png');
                    });
                }

				function like_handler(bookmark_id) {
                    // add post handler
                    $('#like_' + bookmark_id).click(function(){
                        var post_url = '/bookmark/like/';
                        post_url += data[tweet].bookmark.id;
                        $.post(post_url, $("#" + form_id).serialize(), function(data) {
                            alert('like saved');
                            // remove like link
                        });
                    });
                    
                    // hover 
                    $('#' + bookmark_id).hover(function(){
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/like_on_ico.gif');
                    }, function() {
                        $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/like_ico.gif');
                    });
                }
                
                like_handler(bookmark_id);

                add_handler(bookmark_id, form_id);

			}
		});
	}
	
	// search 
    $('#searchbutton').click(function() {
    {% if buzz_auth %}
        var query_string = $('#search').val();
        var query_url = "{% url mybuzz_search %}" + "?q=" + query_string;
        
        $('#top_tweets_box').fadeOut('fast').empty();
        $('#top_tweets_box').append('<div id="loader"><img src="{{ MEDIA_URL }}images/loader.gif"></div>').fadeIn('fast');
        
        function search_twitter(query_url) {
            $.getJSON(query_url, function(data) {
                $('#loader').fadeOut('fast');
                for(tweet in data['results']) {
                    var form_id = 'bookmark_form_' + tweet;
                    var bookmark_id = 'bookmark_' + tweet;
                    var that = this;

                    // append tweet

                    $('#top_tweets_box').append('<div class="tweet_result"><div class="tweet">' + data['results'][tweet].text +
                    '</div>' +
                    '<div class="tweet_info">' + 
                    '<div class="fleft"><img src="{{ MEDIA_URL }}images/user_ico.gif"></div>' +
                    '<div class="fleft padbottom">' + data['results'][tweet].from_user + '</div>' + 
                    '<div class="fleft padright"><a id="' + bookmark_id  + '"><img src=\"{{ MEDIA_URL }}images/bookmark_ico.png\"></a></div>' + 
                    '<div class="fleft padbottom red">bookmark me!</div>' +
                    '<form id="' + form_id + '"' + ' method="post">' +
                    '<input type="hidden" name="tweet_id" value="' + data['results'][tweet].id + '">' +
                    '<input type="hidden" name="tweet_txt" value="' + data['results'][tweet].text + '">' +
                    '<input type="hidden" name="tweeter_screenname" value="' + data['results'][tweet].from_user  + '">' +
                    '</form>' +
                    '<div class="clear"></div>'  + 
                    '</div></div>').fadeIn('slow');

                    function add_handler(bookmark_id, form_id) {
                        // add post handler
                        $('#' + bookmark_id).click(function(){
                            $.post('{% url mybuzz_add_bookmark %}', $("#" + form_id).serialize(), function(data) {
                                alert(data);
                            });
                        });

                        // hover 
                        $('#' + bookmark_id).hover(function(){
                            $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_on_ico.png');
                        }, function() {
                            $('#' + bookmark_id + ' img').attr('src','{{ MEDIA_URL }}images/bookmark_ico.png');
                        });
                    }

                    add_handler(bookmark_id, form_id);
                }
            });
        }
        
        search_twitter(query_url);
        
    {% else %}
        $('#search_errormsg').fadeIn('fast');
    {% endif %}
    });
{% endblock %}